{% extends "layout.html.twig" %} {% set biereMenu = true %} {% block title %}Bières{% endblock %} {% block content %}
<h2 class="text-center">{{ block('title') }}</h2> {% if bieres_aromatisees %} {% for biere in bieres_aromatisees %}
<div id="content">
    <div class="jumbotron">
        <div class="row">

            <div class="col-lg-6 col-md-5 col-sm-7 col-xs-12">
                <a href="#" id='modal-launcher' data-toggle="modal" data-target="#produit-modal">
                    <img class="img-responsive" style="border-radius: 50px; border:4px solid white; width:300px; height:300px; box-shadow: 1px 1px 10px #555;" src="{{ app.request.basepath }}/img/{{ biere.image }}.png" />

                </a>
            </div>

            <div class="modal fade" id="produit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header produit_modal_header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        </div>
                        <div class="form-group">
                            <img class="img-responsive" src="{{ app.request.basepath }}/img/{{ biere.codeBiere }}.png" />
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-7 col-sm-5 col-xs-12">
                <h2>
					<a href="/biere/{{ biere.codeBiere }}">{{ biere.libelle }}</a><br/>
			<p>{{ biere.description }}</p>		
				</h2>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="alert alert-warning">Aucune bière trouvé.</div>
{% endfor %} {% endif %} {% endblock %}